
@{
    ViewData["Title"] = "MQTest";
}

<h2>MQTest</h2>
<input type="button" value="发送到消息队列"  id="send" onclick="sendToMq()"/>
<script type="text/javascript">

    function sendToMq() {
        var url = "/home/RabbitMQTest";
        $.post(url, { content:'4567y8ui9ovgbhnj'}, function(d) {
            alert(d);
            
        });
    }

</script>
$.post()
